/** CSS STYLE **/
body {
    margin: 0;
    font:15px Helvetica, sans-serif;
    overflow-x: hidden;
}

/*Header */

header {
    display: block;
    font-weight: 600;
    height: 50px;
    padding: 5px 10px;
   
}

header img {
    margin-top: -5px;
    height: 30px;
}

nav {
    margin: -10px 0 0 -10px;
    background-color: white;
    width: 100%;
    padding: 0 0 0 10px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Logo*/

.logo  {
    display: flex;
    width: 130px;
    justify-content: space-between;
}


.menu ul {
    padding: 0 20px 0 0;
    display: flex;
    width: 500px;
    align-items: center;

}

.menu ul li {
    list-style-type: none;
    flex:1 1 30%;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

/*Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*First block*/

/*First block with moon bg*/

main .first-block {
    margin-top: -16.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-weight: 600;
    padding: 30px;
    line-height: 35px;
    width: 100%;
    background-image: url(../images/banner.png) ;
    background-position: left 5% top 55% ;
    background-size: 100%;
}

main .first-block img {
    height: 150px;
}

main .first-block span {
    display: block;
}

main .first-block .Zagolovok {
    font:700 38px Arial;
}

main .first-block a {
    display: block;
    margin-top: 10px;
    padding: 1px 8px 1px 8px;
    width: max-content;
    height: max-content;
    border: 1px solid white;
    border-radius: 10px;
    text-decoration: none;
    color: white;
}

main .first-block a:hover {
    background-color: rgba(110, 124, 124, 0.61);
    transition: 0.2s ;
}

/*Second block with three inline benefits*/

main .second-block {
    margin: 35px 0 0 14%  ;
    padding: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

main .second-block .blocks-benefits {
    line-height: 30px;
    text-align: left;
    flex: 1 1 33%;
}

main .second-block .blocks-benefits h2 {
    font-size: 30px;
} 

main .second-block .blocks-benefits span {
    display: block;
    text-align: left;
    width: 55%;
}

/*Third block two benefits with pictures*/

main .third-block{
    width: 1000px;
    margin: 10% 25% 0 25%;
}

main .third-block h2 {
    font-size: 30px;
}

main .third-block img.first {
    display: block;
    height: 200px;
    float: right;
}

main .third-block span.first {
    line-height: 30px;
    display: block;
    text-align: left;
    width: 55%;
}

main .third-block img.second {
    margin-right: 10%;
    display: block;
    height: 220px;
    float:left;
}


main .third-block span.second{
    line-height: 30px;
    display: block;
    text-align: left;
    width: 55%;
    float: right;
}

/*Forth block with inputs and button*/

main .forth-block {
    margin-top: 10%;
    width: 500px;
}

main .forth-block h2 {
    padding: 0 55px;
    font-size: 30px;
}

main .forth-block fieldset {
    margin-bottom: 4%;
    padding: 25px 15px;
    border: 3.5px solid rgb(69, 207, 207);
    font-size: 16px;
    font-weight: 600;
}

main .forth-block fieldset legend {
    color: rgb(69, 207, 207);
    font:800 20px normal;
}

main .forth-block fieldset .inputs {
    display: flex;
    flex-wrap: wrap;
}

main .forth-block fieldset .inputs span {
    display: block;
    width: 60%;
}

main .forth-block fieldset .inputs input[type="text"] {
    font-style: italic;
}

main .forth-block fieldset .inputs label {
    display: block;
    width: 60%;
}

main .forth-block fieldset select {
    margin-bottom: 5px;
    padding: 10px;
    display: block;
    width: 30%;
    border-radius: 10px;
}

main .forth-block fieldset input[type="text"] {
    display: block;
    border-radius: 10px;
    border: 0.25px solid black;
    margin-bottom: 5px;
    height: 27px;
}

main .forth-block input[type="button"] {
    padding: 10px 25px;
    display: block;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    color: rgb(69, 207, 207);
    border: 0.5px solid rgb(69, 207, 207);
}

main .forth-block input[type="button"]:hover {
    background-color: rgb(69, 207, 207);
    color: white;
    cursor: pointer;
}

/*Footer*/

footer {
    margin-top: 8%;
    padding: 60px 210px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #303846;
    color: white;
    font-weight: 600;
}

footer .column {
    flex: 0 1 20%;
}

footer .column span.moon-and-logo {
    display: flex;
    align-items: center;
}

footer .column span.Moon-near-logo {
    display: inline-block;
}

footer .column span.copy {
    font-weight: 400;
}

/*first column*/

footer .first-column img {
    display: inline-block;
    height: 40px;
    margin-right: 15px;
}


