/** CSS STYLE **/

:root {
    --height:55px;
    --light-color:#f7f7f7;
    --dark-color:#303846;
}

body {
    width: 100%;
    margin: 0;
    font:15px Helvetica, sans-serif;
}

/*common properties*/

.bg-gray {
    background-color:var(--light-color);
}

.w-535 {
    width: 535px;
}

.w-290 {
    width: 290px;
}

.width-content {
    margin: 0 auto;
    box-sizing: content-box;
    width: 1000px;
}

.m-t-10 {
    margin-top: 10px;
}

.p-25 {
    padding: 25px;
}

.p-t-80 {
    padding-top: 80px;
}

.p-b-80 {
    padding-bottom: 80px;
}

.p-l-110 {
    padding-left:110px;
}

.btn { 
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 15px;
}

.btn-type-white-blue {
    color: rgb(69, 207, 207);
    border: 0.5px solid rgb(69, 207, 207);
}

.btn-type-white{
    border: 1px solid white;
    text-decoration: none;
    color: white;
}

.d-fl {
    display: flex;
}

.d-bl {
    display: block;
}

.fl-w {
    flex-wrap: wrap;
}

.fl-jcs {
    justify-content: space-between;
}

.fl-aic {
    align-items: center;
}

.fl-jcc {
    justify-content: center;
}

.fl-fdc {
flex-direction: column;
}

.fw-600 {
    font-weight: 600;
}

.fs-45 {
    font-size: 45px;
}

.fs-30 {
    font-size: 30px;
}

.fs-16 {
    font-size: 16px;
}

.ln-h-30 {
    line-height: 30px;
}

/*Header*/

.top-of-page {
    width: 100%;
    height: var(--height);
    padding: 5px 10px;
    background-color: white;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
}

header img {
    margin-top: -5px;
    height: 30px;
}

/*Logo*/

.logo  {
    width: 140px;
}


nav ul {
    padding: 0 20px 0 20px;
    width: 360px;
}

nav ul li {
    list-style-type: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/*Main */
main {
    margin-top: var(--height);
}

/*Block with moon bg*/

.block-with-moon-bg {
    color: white;
    padding:30px ;
    background-image: url(../images/banner.png) ;
    background-position: left 5% top 55% ;
    background-size: 100%;
}

.block-with-moon-bg img {
    height: 150px;
}

.block-with-moon-bg a:hover {
    background-color: rgba(110, 124, 124, 0.61);
    transition: 0.2s ;
}

/*Block with three inline benefits*/

/*Block two benefits with pictures*/

img.first {
    display: block;
    height: 200px;
}

span.first {
    display: block;
    text-align: left;
    width: 85%;
}

img.second {
    display: block;
    height: 220px;
}

span.second{
    display: block;
    text-align: left;

}

/*Block with inputs and button*/

fieldset {
    width: 500px;
    margin-bottom: 70px;
    padding: 25px 15px;
    border: 3.5px solid rgb(69, 207, 207);
}

fieldset legend {
    color: rgb(69, 207, 207);
    font:800 20px normal;
}

fieldset .block-with-seceltor span {
    display: block;
    width: 60%;
}

fieldset select {
    margin-bottom: 5px;
    padding: 10px;
    display: block;
    width: 30%;
    border-radius: 10px;
}

fieldset .inputs label {
    display: block;
    width:35%;
}

fieldset .inputs input[type="text"] {
    display:inline-block;
    border-radius: 10px;
    border: 0.25px solid black;
    margin-bottom: 15px;
    margin-top: -7.5px;
    height: 27px;
    font-style: italic;
    width: 55%;
}

.w-535 input[type="button"]:hover {
    background-color: rgb(69, 207, 207);
    color: white;
    cursor: pointer;
}

/*Footer-bottom-of-page*/

.bottom-of-page {
    padding: 40px 80px;
    background-color:var(--dark-color);
    color: white;
}

.bottom-of-page .column {
    flex: 0 1 20%;
}

.bottom-of-page .column span.moon-and-logo {
    display: flex;
    align-items: center;
}

.bottom-of-page .column span.Moon-near-logo {
    display: inline-block;
}

.bottom-of-page .column span.copy {
    font-weight: 400;
}

/*first column*/

.bottom-of-page .first-column img {
    display: inline-block;
    height: 40px;
    margin-right: 15px;
}



