/** CSS STYLE **/

:root {
    --height:55px;
    --light-color:#f7f7f7;
    --dark-color:#303846;
    --text-light: white;
    --text-dark:black;
    --light-blue:rgb(69, 207, 207);
}

body {
    width: 100%;
    margin: 0;
    font:15px Helvetica, sans-serif;
}

/*common properties*/

.bg-gray {
    background-color:var(--light-color);
}

.w-535 {
    width: 535px;
}

.w-290 {
    width: 290px;
}

.w-140 {
    width: 140px;
}

.width-content {
    margin: 0 auto;
    box-sizing: content-box;
    width: 1000px;
}

.m-t-10 {
    margin-top: 10px;
}

.p-25 {
    padding: 25px;
}

.p-t-80 {
    padding-top: 80px;
}

.p-b-80 {
    padding-bottom: 80px;
}

.p-l-110 {
    padding-left:110px;
}

.btn { 
    display: block;
    border: 1px solid white;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    padding: 5px 15px;
}

.btn-type-white-blue {
    color: var(--light-blue);
    border: 0.5px solid var(--light-blue);
}

.btn-type-white{
    border: 1px solid white;
    text-decoration: none;
    color: var(--text-light);
}

.d-fl {
    display: flex;
}

.d-bl {
    display: block;
}

.d-in-bl {
    display: inline-block;
}

.fl-w {
    flex-wrap: wrap;
}

.fl-jcs {
    justify-content: space-between;
}

.fl-aic {
    align-items: center;
}

.fl-jcc {
    justify-content: center;
}

.fl-jcfs {
    justify-content: flex-start;
}

.fl-dc {
flex-direction: column;
}

.fl-aifs {
    align-items: flex-start;
}

.fw-600 {
    font-weight: 600;
}

.fw-400 {
    font-weight: 400;
}

.fs-45 {
    font-size: 45px;
}

.fs-30 {
    font-size: 30px;
}

.fs-16 {
    font-size: 16px;
}

.ln-h-30 {
    line-height: 30px;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 30px;
}
/*Header*/

.top-of-page {
    box-sizing: border-box;
    width: 100%;
    height: var(--height);
    padding: 5px 10px;
    background-color: var(--text-light);
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
}

header img {
    margin-top: -5px;
    height: 30px;
}

/*Logo*/

nav ul {
    padding: 0 20px 0 20px;
    width: 360px;
}

nav ul li {
    list-style-type: none;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-dark);
}

/*Main */
main {
    margin-top: var(--height);
}

/*Block with moon bg*/

.block-with-moon-bg {
    color: var(--text-light);
    padding:30px ;
    background-image: url(../images/banner.png) ;
    background-position: left 5% top 55% ;
    background-size: 100%;
}

.block-with-moon-bg img {
    height: 150px;
}

.block-with-moon-bg a:hover {
    background-color: var(--dark-color);
    transition: 0.2s ;
}

/*Block with three inline benefits*/

/*Block two benefits with pictures*/

.inline-img {
    height: 220px;
}

.first-paragraph {
    text-align: left;
    width: 85%;
}

.second-paragraph{
    text-align: left;
}

/*Block with inputs and button*/

.user-info {
    width: 500px;
    margin-bottom: 70px;
    padding: 25px 15px;
    border: 3.5px solid var(--light-blue);
}

.user-info legend {
    color: var(--light-blue);
    font:800 20px normal;
}

.user-info .block-with-seceltor span {
    width: 60%;
}

.user-info select {
    margin-bottom: 5px;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
}

.user-info .inputs label {
    width:35%;
}

.user-info .inputs input[type="text"] {
    border-radius: 10px;
    border: 0.25px solid black;
    margin-bottom: 15px;
    margin-top: -7.5px;
    height: 27px;
    font-style: italic;
    width: 55%;
}

input[type="button"]:hover.send {
    background-color: var(--light-blue);
    color: white;
    cursor: pointer;
}

/*Footer-bottom-of-page*/

.bottom-of-page {
    padding: 40px 80px;
    background-color:var(--dark-color);
    color: var(--text-light);
}

.column {
    flex: 0 1 33%;
}

/*first column*/

.moon-and-logo img {
    height: 40px;
    margin-right: 15px;
}



